{% extends "base.html" %} 

{% block content %}

    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">

    <link rel="stylesheet" href="/static/css/home.css">

    <div class="global_cont_home">
        
        <div class="container mt-5">

            <div class="card mx-auto d-block card_home">
    
                <div class="col-10 mt-5 mb-5 mx-auto d-block">

                    <form action="{{url_for('room')}}" method="POST">

                        <div class="mb-3">

                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" id="username">
    
                        </div>
                
                        <div class="mb-3">
    
                            <label for="room" class="form-label">Room</label>
                            <input type="text" class="form-control" name="room" id="room">
    
                        </div>
        
                        <button class="btn btn-primary mx-auto d-block button_home" id="login_room_submit" type="submit">Submit</button>
        

                    </form>
                    
                    
                </div>
            
            </div>
            
        </div>

    </div>

{% endblock %}