{% extends "base.html" %} 

{% block content %}
        
    <div class="container mt-5">

        <div class="row">

            <div class="card col align-self-center">
                
                <div class="container mt-4">

                    <div class="alert alert-success" role="alert">
                        
                        {{ result["room_name"] }} Room Created!
                      
                    </div>

                    <p class="text-center">Room Pin</p>
            
                    <p class="fs-1 text-center" id="text">{{ result["room_pin"] }}</p>

                    <button style="width: 8.5rem;" class="btn btn-primary mx-auto d-block mb-3" id="copyButton" onclick="copyText('#text')">Copy</button>

                </div>

            </div>
        
        </div>
        


    </div>

    <script>

        function copyText(element){
            
            var change = document.getElementById("copyButton");
            
            if (change.innerHTML == "Copy")
            {
            
                change.innerHTML = "Copied";
            
            }
            else {
            
                change.innerHTML = "Copy";
            
            }
            
            // console.log("Button Clicked")
            
            var $temp = $("<input>");
            
            $("body").append($temp);
            
            $temp.val($(element).text()).select();
            
            document.execCommand("copy");
            
            $temp.remove();
        } 


    </script>

{% endblock %}